body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head-img {
  position: relative;
}

.board-name { 
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 32%;
  bottom: 0;
  left: 40%;
  right: 0;
  font-family: Bradley Hand, cursive;
  font-style: italic;
  font-variant: small-caps;
}

.board-description { 
    font-size: 20px;
    position: absolute;
    top: 48%;
    bottom: 0;
    left: 32%;
    right: 0;
    font-family: Bradley Hand, cursive;
    font-style: italic;
}

.nav_home, .nav_fav, .nav_new, .nav_try {
  position: absolute;
  text-decoration: none;
  color: black;
  top: 63%;
}

.nav_home {
  bottom: 0;
  left: 35%;
  right: 0;
  font-family: Bradley Hand, cursive;
  font-style: italic;
  font-size: 20px;
}

.nav_fav {
  bottom: 0;
  left: 43%;
  right: 0;
  font-family: Bradley Hand, cursive;
  font-style: italic;
  font-size: 20px;
}

.nav_new {
  bottom: 0;
  left: 59%;
  right: 0;
  font-family: Bradley Hand, cursive;
  font-style: italic;
  font-size: 20px;
}

.nav_try {
  bottom: 0;
  left: 75%;
  right: 0;
  font-family: Bradley Hand, cursive;
  font-style: italic;
  font-size: 20px;
}

.food_photo {
  position: absolute;
  height: 30%;
  width: 10%;
  top: 15%;
  bottom: 0;
  left: 55%;
  right: 0;
  -ms-transform: rotate(-90deg); /* IE 9 */
  transform: rotate(-90deg)
}

.Haleys_Favourites {
  position: absolute;
  font-family: Bradley Hand, cursive;
  font-style: italic;
  font-size: 50px;
  font-weight: normal;
  top: 12%;
  left: 30%;
  color: black;
}

.Chicken {
  border: 3px solid black;
  position: absolute;
  top: 32%;
  left: 20%;
}

.chicken_image{
  width: 80%;
  height: 80%;
  padding-left: 30px;
  padding-top: 10px;
}

.chicken_title {
  font-family: Bradley Hand, cursive;
  font-style: italic;
  font-weight: bold;
  padding-left: 25%;
}

.chicken_text {
  font-family: Bradley Hand, cursive;
  font-style: italic;
  padding-left: 15%;
  margin-top: 2px;
}

button {
  margin-left: 40%;
  margin-bottom: 10px;
}